#heading {
  border: solid;
  background-color: #33ccff;
}

h1 {
  text-align: center;
}

body {
  background-color: grey;
}

#teamInterface {
  display: grid;
  border: solid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: black;
  height: auto;
  width: auto;
  border-color: white;
}

#championDisplay{
  display: grid;
  border: solid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  max-width: 50vw;
  max-height: 100vh;
  overflow: scroll;
}

.champion {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 6px;
  max-height: 75px;
  max-width: 75px;
}

.championSource {
  max-height: 40px;
  max-width: 40px;
}

.team {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 8px;
  height: auto;
  width: auto;
  color: white;
}

#interface {
  max-height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr; 
  grid-template-rows: auto;
}

#labels {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
}

.origin {
  border: solid;
  border-color: blue;
}

.class {
  border: solid;
  border-color: green;
}

.both {
  border: solid;
  border-color: gold;
}

.na {
  border-color: purple;
}

#synergy {
  background-color: black;
  border: solid;
  border-color: white;
}

.synergies {
  color: white;
  font-size: 10px;
}

.teamImage {
  max-width: 80px;
  max-height: 80px;
}