#heading {
  border: solid;
  background-color: #33ccff;
}

h1 {
  text-align: center;
}

body {
  background-color: grey;
}

#teamInterface {
  display: grid;
  border: solid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  height: auto;
  width: auto;
  border-color: white;
}

#championDisplay{
  display: grid;
  border: solid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  height: auto;
  max-width: 1fr;
}

.champion {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 8px;
  max-height: 130px;
  width: auto;
}

.championSource {
  height: 75px;
  width: 75px;
}

.team {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 8px;
  height: auto;
  width: auto;
  color: white;
}

#interface {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 3fr 6fr; 
  grid-template-rows: auto;
}

#labels {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 3fr 6fr;
}

.origin {
  border: solid;
  border-color: blue;
}

.class {
  border: solid;
  border-color: green;
}

.both {
  border: solid;
  border-color: gold;
}

.na {
  border-color: purple;
}